{% extends 'main/layout.html' %}
{% block title %}ПРОЧЕЕ{% endblock %}

{% block content%}
    <div class="features">
    <h1>Про нас</h1>
    <p>НЕ про нас</p>
    <p>Текст для страницы заглушки сайта должен решать всего одну задачу — не отпустить посетителя просто так. То есть надо сделать всё, чтобы человек оставил свой контакт, связался с вами, запомнил или добавил сайт в закладки. Хотя многие до сих пор считают, что достаточно повесить баннер “Мы скоро откроемся” и уже это чувство новизны заставит посетителя вернуться. </p>
    <button class="btn btn-danger">Не нажимать</button>
    </div>
{% endblock%}