{% extends 'main/layout.html' %}
{% block title%}{{ title }}{% endblock%} # тут

{% block content%}
    <div class="features">
        <h1>{{ title }}</h1>
    <p>Текст для страницы заглушки сайта должен решать всего одну задачу — не отпустить посетителя просто так. То есть надо сделать всё, чтобы человек оставил свой контакт, связался с вами, запомнил или добавил сайт в закладки. Хотя многие до сих пор считают, что достаточно повесить баннер “Мы скоро откроемся” и уже это чувство новизны заставит посетителя вернуться. </p>
    <button class="btn btn-warning">На страницу про нас</button>
        {% for el in values %}
            {% if el == 'Hello' %}
                {% filter upper %}
                    <p>{{ el }}</p>
                {% endfilter %}
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}


    </div>
{% endblock %}